{% extends 'base.html' %}



{% block content %}

<div class="card bg-dark text-dark">
  <img src="{{ book.cover }}" class="card-img" alt="https://img.freepik.com/free-photo/book-composition-with-open-book_23-2147690555.jpg?size=626&ext=jpg&ga=GA1.1.1412446893.1705017600&semt=sph">
  <div class="card-img-overlay">
    <h5 class="card-title">{{ book.title }}</h5>
    <p class="card-text">{{ book.description }}</p>
    <p class="card-text">Ціна: {{ book.price }}</p>
  </div>
</div>


{% endblock %}


